$navbar-default-bg: midnightblue;
@import "bootstrap-sprockets";
@import "bootstrap";

.ruby_logo {margin-top : 13px; margin-right: 10px;}
#navlink{color: #fff;}



#logo{
  float:left;
  font-size: 1.7em;
  color: #fff;
}
.navlink{color: #fff;}
  .navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    color:#ffffff;
    background-color: #131354;
  }
.center{
  text-align: center;
}

.jumbotron {
  background-image: asset-url('jumbotron.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  background-size: cover;

}
.jumbotron h1 {
  text-align: center;
  font-weight: bold;
}
.jumbotron p {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

.article-meta-details{
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description{
  margin-top: 0px;
}

.article-title{
  font-weight: bold;
  font-size: 1.5em;
}

.article-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer {
    margin-top: 45px;
    padding-top: 9px;
    padding-bottom: 1px;
    background-color: midnightblue;
    color: white;
    text-align: center;
    font-size: 14px;

}

.debug{
  text-align: left;
}


.divider{background-color:dodgerblue !important;}