<h1 align="center"></h1>
<div align="center">
  <%= will_paginate %>
      <% @categories.each do |category| %>
        <ul class="list-unstyled">
          <div class="row">
            <div class="well col-md-3 col-md-offet-4">
              <li class="article-title">
                <%= link_to "#{category.name}", category_path(category) %>
              </li>
            </div>
          </div>
        </ul>
      <% end %>
    <%= will_paginate %>
  </div>
